@tailwind base;
@tailwind components;


@font-face {
    font-family: "devgothic";
    src: url("/fonts/devgothic.TTF");
    font-weight: 900;
}

@font-face {
    font-family: "GoodMatcha";
    src: url("/fonts/GoodMatcha.otf");
    font-weight: 900;
}



@tailwind utilities;
