@tailwind base;
@tailwind components;


@font-face {
    font-family: "devgothic";
    src: url("/fonts/devgothic.TTF");
    font-weight: 900;
}

@font-face {
    font-family: "GoodMatcha";
    src: url("/fonts/GoodMatcha.otf");
    font-weight: 900;
}

@tailwind utilities;

@layer components {
    /* FOR TITLE CATEGORY HOME PAGE */
      .title {
        @apply text-3xl pt-2;
        }
    }

    ::-webkit-scrollbar {
        width: 10px;
      }
      
      ::-webkit-scrollbar-track {
        background: #94a3b8;
      }
      
      ::-webkit-scrollbar-thumb {
        background: #475569;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: #1e293b;
      }
